# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [49]:
# Import your libraries:
#%%
from sklearn import datasets
from sklearn.linear_model import LinearRegression
from statsmodels.formula.api import ols
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import statsmodels.api as sm
import warnings, pandas
from sklearn.feature_selection import RFE

warnings.filterwarnings("ignore");

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [3]:
# Your code here:
#%%

diabetes = datasets.load_diabetes()
diabetes

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990842, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06832974, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286377, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04687948,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452837, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00421986,  0.00306441]]),
 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
         69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
         68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
         87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
        259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
        128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
        150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
        200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
         42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
         83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
        104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
        173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
        107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
         60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
        197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
         59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
        237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
        143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
        142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
         77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
         78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
        154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
         71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
        150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
        145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
         94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
         60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
         31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
        114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
        191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
        244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
        263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
         77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
         58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
        140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
        219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
         43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
        140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
         84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
         94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
        220.,  57.]),
 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'data_filename': 'C:\\Users\\fpedrero\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\diabetes_data.csv.gz',
 'target_filename': 'C:\\Users\\fpedrero\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\diabetes_target.csv.gz'}

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [4]:
# Your code here:
#%%
diabetes.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [5]:
# Your code here:
#%%
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here:

diabetes.feature_names  ## ['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']
Age
sex
body mass index
avg blood/pressure
s1,s2,s3,s4,s5,s6

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [6]:
# Your code here:
#%%
diabetes.data.shape

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [7]:
#%%
# Your code here:
#Se importa librería en 1era celda de arriba.

Initialize the model in the variable `diabetes_model`

In [8]:
# Your code here:
#%%
diabetes_model  = LinearRegression()
diabetes_model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In the cell below, fit the model and print the intercept and coefficients of the model.

In [9]:
# Your code here:
#%%
X = diabetes.data
y = diabetes.target

diabetes_model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
#%%
print('Coheficientes:', diabetes_model.coef_)
print('---------------------------------------------')
print('Intercepcion:', diabetes_model.intercept_)

Coheficientes: [ -10.01219782 -239.81908937  519.83978679  324.39042769 -792.18416163
  476.74583782  101.04457032  177.06417623  751.27932109   67.62538639]
---------------------------------------------
Intercepcion: 152.1334841628965

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [11]:
#%%
modelo2 = sm.OLS(y,X).fit()
sumario = modelo2.summary()
print(sumario)

#Esa R-cuadrada es tan baja que parece que esta perreando hasta el infierno.

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.106
Model:                            OLS   Adj. R-squared (uncentered):              0.085
Method:                 Least Squares   F-statistic:                              5.100
Date:                Fri, 14 Feb 2020   Prob (F-statistic):                    4.72e-07
Time:                        23:40:58   Log-Likelihood:                         -2873.9
No. Observations:                 442   AIC:                                      5768.
Df Residuals:                     432   BIC:                                      5809.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           -10.0122    179.967     -0.056      0.956    -363.731     343.707
x2          -239.8191    184.404     -1.301      0.194    -602.259     122.621
x3           519.8398    200.401      2.594      0.010     125.957     913.723
x4           324.3904    197.053      1.646      0.100     -62.912     711.692
x5          -792.1842   1255.066     -0.631      0.528   -3258.979    1674.611
x6           476.7458   1021.183      0.467      0.641   -1530.360    2483.851
x7           101.0446    640.155      0.158      0.875   -1157.162    1359.251
x8           177.0642    486.370      0.364      0.716    -778.882    1133.010
x9           751.2793    517.774      1.451      0.148    -266.391    1768.950
x10           67.6254    198.747      0.340      0.734    -323.005     458.256
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   0.223
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         21.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [12]:
# Your code here:
#%%
auto = pandas.read_csv('../auto-mpg.csv')
auto

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,"\t""ford mustang gl"""
394,44.0,4,97.0,52.0,2130,24.6,82,"\t""vw pickup"""
395,32.0,4,135.0,84.0,2295,11.6,82,"\t""dodge rampage"""
396,28.0,4,120.0,79.0,2625,18.6,82,"\t""ford ranger"""
397,31.0,4,119.0,82.0,2720,19.4,82,"\t""chevy s-10"""

Look at the first 5 rows using the `head()` function:

In [13]:
# Your code here:
#%%
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [14]:
# Your code here:
#%%
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [15]:
# Your code here:
#%%
print('El modelo mas nuevo: Año',max(auto.model_year))
print('----------------------------')
print('El modelo mas viejo: Año',min(auto.model_year))

El modelo mas nuevo: Año 82
----------------------------
El modelo mas viejo: Año 70

Check the dataset for missing values and remove all rows containing at least one missing value.

In [16]:
#Your code here:
#%%
auto.dropna(inplace=True)   
auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [17]:
# Your code here:
#%%
print(f'Hay {len(auto.cylinders.value_counts())} tipos de carros con x-cantidad de cilidros')
print(auto.cylinders.value_counts())

Hay 5 tipos de carros con x-cantidad de cilidros
4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [18]:
# Import the necessary function
#%%
cant_cilindros = ['V3','V4','V5','V6','V8']
try:
    auto.drop(columns='car_name', axis=1, inplace=True)
except:
    print('Ya quitaste "car_name"')
for x in cant_cilindros:
    auto[x]=0

In [19]:
# Your code here:
# Necesito que el codigo cree una columna 'cylinders' temporal porque el otro cylinders no jala con el 'contains',
# despues voy a hacer que las columnas boleanas de V3 Hasta V8 usen la columna cylinder tipo string que me saque 
# de la manga para poder continuar con mi idea, luego bota cylinders ALV(A la vasura :B) porque en este perfil
# hacemos las cosas con Machine Learning y no aceptamos columnas no-numéricas.

#%%
auto['cylinders2'] = auto.cylinders.astype(str) 
auto.V3 = auto.cylinders2.str.contains('3').astype(int)
auto.V4 = auto.cylinders2.str.contains('4').astype(int)
auto.V5 = auto.cylinders2.str.contains('5').astype(int)
auto.V6 = auto.cylinders2.str.contains('6').astype(int)
auto.V8 = auto.cylinders2.str.contains('8').astype(int)
auto.drop(columns='cylinders2', inplace=True)
auto

#Fuck yeah!

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,V3,V4,V5,V6,V8
0,18.0,8,307.0,130.0,3504,12.0,70,0,0,0,0,1
1,15.0,8,350.0,165.0,3693,11.5,70,0,0,0,0,1
2,18.0,8,318.0,150.0,3436,11.0,70,0,0,0,0,1
3,16.0,8,304.0,150.0,3433,12.0,70,0,0,0,0,1
4,17.0,8,302.0,140.0,3449,10.5,70,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,0,1,0,0,0
394,44.0,4,97.0,52.0,2130,24.6,82,0,1,0,0,0
395,32.0,4,135.0,84.0,2295,11.6,82,0,1,0,0,0
396,28.0,4,120.0,79.0,2625,18.6,82,0,1,0,0,0
397,31.0,4,119.0,82.0,2720,19.4,82,0,1,0,0,0

In [20]:
# Decidí volver el cilindraje una categoría, para ver como lo calcula con respecto a utilizar la columna Cylinders
# Esperando encontrar algo. Por lo que tendré 2 aproximaciones con 2 dataframes diferentes.
#%%
auto_sin_cilindros = auto.copy()
auto_sin_cilindros.drop(columns='cylinders', inplace=True)
auto_sin_cilindros

,mpg,displacement,horse_power,weight,acceleration,model_year,V3,V4,V5,V6,V8
0,18.0,307.0,130.0,3504,12.0,70,0,0,0,0,1
1,15.0,350.0,165.0,3693,11.5,70,0,0,0,0,1
2,18.0,318.0,150.0,3436,11.0,70,0,0,0,0,1
3,16.0,304.0,150.0,3433,12.0,70,0,0,0,0,1
4,17.0,302.0,140.0,3449,10.5,70,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,140.0,86.0,2790,15.6,82,0,1,0,0,0
394,44.0,97.0,52.0,2130,24.6,82,0,1,0,0,0
395,32.0,135.0,84.0,2295,11.6,82,0,1,0,0,0
396,28.0,120.0,79.0,2625,18.6,82,0,1,0,0,0
397,31.0,119.0,82.0,2720,19.4,82,0,1,0,0,0

In [21]:
#%%
try:
    auto.drop(columns=['V3','V4','V5','V6','V8'], inplace=True)
except:
    print('Ya quitaste las columnas, relax')

In [22]:
# Your code here:
#%%
print(auto.keys())
print(auto_sin_cilindros.keys())

Index(['mpg', 'cylinders', 'displacement', 'horse_power', 'weight',
       'acceleration', 'model_year'],
      dtype='object')
Index(['mpg', 'displacement', 'horse_power', 'weight', 'acceleration',
       'model_year', 'V3', 'V4', 'V5', 'V6', 'V8'],
      dtype='object')

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [23]:
#%%
#ANALISIS CON VARIABLE AUTO:
X = auto.drop('mpg', axis=1)
y = auto['mpg']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)
modelo_auto = LinearRegression()
modelo_auto.fit(X_train, y_train)

print(f" Coheficientes:  {modelo_auto.coef_}")
print(f" Intercepcion:  {modelo_auto.intercept_}")

 Coheficientes:  [-0.36253911  0.01208732  0.01358142 -0.00779003  0.14854879  0.76188228]
 Intercepcion:  -15.360617741486056

In [72]:
#%%
#ANALISIS CON VARIABLE AUTO_SIN_CILINDROS:

X1 = auto_sin_cilindros.drop('mpg', axis=1)
y1 = auto_sin_cilindros['mpg']

X_train1, X_test1, y_train1, y_test1 = train_test_split(X1,y1, test_size=0.2)
modelo_auto_sin_cilindros = LinearRegression()
modelo_auto_sin_cilindros.fit(X_train1, y_train1)

print(f" Coheficientes:  {modelo_auto_sin_cilindros.coef_}")
print(f" Intercepcion:  {modelo_auto_sin_cilindros.intercept_}")

 Coheficientes:  [ 0.00729902 -0.01582003 -0.0063926   0.06139662  0.74176498 -4.51085013
  1.90880482  2.94205956 -1.47024925  1.13023501]
 Intercepcion:  -15.390859668662355

,displacement,horse_power,weight,acceleration,model_year,V3,V4,V5,V6,V8
0,307.0,130.0,3504,12.0,70,0,0,0,0,1
1,350.0,165.0,3693,11.5,70,0,0,0,0,1
2,318.0,150.0,3436,11.0,70,0,0,0,0,1
3,304.0,150.0,3433,12.0,70,0,0,0,0,1
4,302.0,140.0,3449,10.5,70,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
393,140.0,86.0,2790,15.6,82,0,1,0,0,0
394,97.0,52.0,2130,24.6,82,0,1,0,0,0
395,135.0,84.0,2295,11.6,82,0,1,0,0,0
396,120.0,79.0,2625,18.6,82,0,1,0,0,0
397,119.0,82.0,2720,19.4,82,0,1,0,0,0

Next, fit the model in the cell below.

In [25]:
# Your code here:
#modelo_auto_sin_cilindros.fit(X_train, y_train)

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [26]:
# Import the necessary function:
#%%
y_pred = modelo_auto.predict(X_train)
print('R-cuadrada MODELO AUTO:',r2_score(y_train, y_pred))

R-cuadrada MODELO AUTO: 0.8134650509935508

In [27]:
# Your code here:
#%%
y_pred1 = modelo_auto_sin_cilindros.predict(X_train1)
print('R-cuadrada MODELO AUTO SIN CILINDRO:',r2_score(y_train1, y_pred1))

R-cuadrada MODELO AUTO SIN CILINDRO: 0.8366310249773479

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [28]:
# Your code here:
#%%
y_test_pred = modelo_auto.predict(X_test)
print('R-cuadrada MODELO AUTO:',r2_score(y_test, y_test_pred))

R-cuadrada MODELO AUTO: 0.7841617438388395

In [29]:
# Your code here:
#%%
y_test_pred1 = modelo_auto_sin_cilindros.predict(X_test1)
print('R-cuadrada MODELO AUTO SIN CILINDRO:',r2_score(y_test1, y_test_pred1))

R-cuadrada MODELO AUTO SIN CILINDRO: 0.8297953506118371

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [30]:
# Your code here:
#Esto es divertido, empiezo a ver que un modelo tiene mejor puntuación que el otro en cada paso que  se doy en este lab.
X_train09, X_test09, y_train09, y_test09 = train_test_split(X,y, test_size=0.1)
X_train091, X_test091, y_train091, y_test091 = train_test_split(X1,y1, test_size=0.1)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [31]:
# Your code here:
modelo_auto09 = LinearRegression()
modelo_auto091 = LinearRegression()

print(modelo_auto09.fit(X_train09, y_train09))
print(modelo_auto091.fit(X_train091, y_train091))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Compute the predicted values and r squared score for our new model and new sample data.

In [38]:
# Your code here:
y_predict_pred09 = modelo_auto09.predict(X_train09)
y_predict_pred091 = modelo_auto091.predict(X_train091)

print('R-cuadrada MODELO AUTO:',r2_score(y_train09, y_predict_pred09))
print('R-cuadrada MODELO AUTO SIN CILINDROS:',r2_score(y_train091, y_predict_pred091))

R-cuadrada MODELO AUTO: 0.8115469781084298
R-cuadrada MODELO AUTO SIN CILINDROS: 0.8330103413532711

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [46]:
# Your code here:
y_test_pred09 = modelo_auto09.predict(X_test09)
y_test_pred091 = modelo_auto091.predict(X_test091)

print('R-cuadrada MODELO AUTO - test:',r2_score(y_test09, y_test_pred09))
print('R-cuadrada MODELO AUTO SIN CILINDROs - test:',r2_score(y_test091, y_test_pred091))

R-cuadrada MODELO AUTO - test: 0.7814526611970485
R-cuadrada MODELO AUTO SIN CILINDROs - test: 0.8700281387531139

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [48]:
#%%
#Se importa arriba.


#from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [101]:
# Your code here:

rfe_modelo_auto = RFE(modelo_auto09, n_features_to_select = 3)
rfe_modelo_auto1 = RFE(modelo_auto091, n_features_to_select = 3)

Fit the model and print the ranking

In [102]:
# Your code here:
rfe_modelo_auto.fit(X_train09, y_train09)
rfe_modelo_auto1.fit(X_train091, y_train091)

print('Ranking MODELO AUTO:',rfe_modelo_auto.ranking_)
print('Ranking MODELO AUTO SIN CILINDRO:',rfe_modelo_auto1.ranking_)
X #cylinders, acceleration, model_year

Ranking MODELO AUTO: [1 4 3 2 1 1]
Ranking MODELO AUTO SIN CILINDRO: [7 6 8 5 4 1 1 1 2 3]

     cylinders  displacement  horse_power  weight  acceleration  model_year
0            8         307.0        130.0    3504          12.0          70
1            8         350.0        165.0    3693          11.5          70
2            8         318.0        150.0    3436          11.0          70
3            8         304.0        150.0    3433          12.0          70
4            8         302.0        140.0    3449          10.5          70
..         ...           ...          ...     ...           ...         ...
393          4         140.0         86.0    2790          15.6          82
394          4          97.0         52.0    2130          24.6          82
395          4         135.0         84.0    2295          11.6          82
396          4         120.0         79.0    2625          18.6          82
397          4         119.0         82.0    2720          19.4          82

[392 rows x 6 columns]

In [77]:
#RECORDATORIO
X1 # V3-V8 cuenta como 1 variable, model_year, acceleration

,displacement,horse_power,weight,acceleration,model_year,V3,V4,V5,V6,V8
0,307.0,130.0,3504,12.0,70,0,0,0,0,1
1,350.0,165.0,3693,11.5,70,0,0,0,0,1
2,318.0,150.0,3436,11.0,70,0,0,0,0,1
3,304.0,150.0,3433,12.0,70,0,0,0,0,1
4,302.0,140.0,3449,10.5,70,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
393,140.0,86.0,2790,15.6,82,0,1,0,0,0
394,97.0,52.0,2130,24.6,82,0,1,0,0,0
395,135.0,84.0,2295,11.6,82,0,1,0,0,0
396,120.0,79.0,2625,18.6,82,0,1,0,0,0
397,119.0,82.0,2720,19.4,82,0,1,0,0,0

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [108]:
# Your code here: 
X_reduced = X.copy().drop(columns =['displacement','horse_power','weight'], axis=1)
X1_reduced = X1.copy().drop(columns =['displacement','horse_power','weight'], axis=1)
#y es la misma.

X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = train_test_split(X_reduced,y, test_size=0.2)
X_train_reduced1, X_test_reduced1, y_train_reduced1, y_test_reduced1 = train_test_split(X1_reduced,y1, test_size=0.2)

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [117]:
# Your code here:
auto_model_reduced = LinearRegression()
auto_model_reduced.fit(X_train_reduced, y_train_reduced)

auto_model_reduced1 = LinearRegression()
auto_model_reduced1.fit(X_train_reduced1, y_train_reduced1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_predict_reduced = auto_model_reduced.predict(X_train_reduced)
y_predict_reduced1 = auto_model_reduced1.predict(X_train_reduced1)

print('R-cuadrada MODELO AUTO -reduced:',r2_score(y_train_reduced, y_predict_reduced))
print('R-cuadrada MODELO AUTO SIN CILINDROS -reduced:',r2_score(y_train_reduced1, y_predict_reduced1))

In [118]:
#No se que hice mal :/. Si la idea es que reducir variables ayude a mejorar el puntaje de la R-cuadrada.

R-cuadrada MODELO AUTO -reduced: 0.7011814767878108
R-cuadrada MODELO AUTO SIN CILINDROS -reduced: 0.7371836778324997