# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:

from statistics import mean
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

from sklearn import datasets

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [4]:
# Your code here:
from sklearn import datasets
diabetesDataset = datasets.load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [5]:
# Your code here:

diabetesDataset.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [6]:
# Your code here:
diabetesDataset.DESCR

'.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, total serum cholesterol\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, total cholesterol / HDL\n      - s5      ltg, possibly log of serum triglycerides level\n      - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)'

la columna 11 es una medida cuantitativa de la progresión de la enfermedad un año después de la línea base\n\n 
:Información de atributos :\n 
- edad edad en años\n 
- sexo\n 
- índice de masa corporal bmi\n 
- pb presión arterial promedio\n 
- s1 tc, colesterol sérico total\n 
- s2 ldl, lipoproteínas de baja densidad\n 
- s3 hdl , lipoproteínas de alta densidad\n 
- s4 tch, colesterol total/HDL\n 
- s5 ltg, posiblemente logaritmo del nivel de triglicéridos séricos\n 
- s6 glu, azúcar en la sangre level

\n\nNota: Cada una de estas 10 variables de características se han centrado en la media y escalado por la desviación estándar

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here:

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

# Your code here:
la columna 11 es una medida cuantitativa de la progresión de la enfermedad un año después de la línea base\n\n 
:Información de atributos :\n 
- edad edad en años\n 
- sexo\n 
- índice de masa corporal bmi\n 
- pb presión arterial promedio\n 
- s1 tc, colesterol sérico total\n 
- s2 ldl, lipoproteínas de baja densidad\n 
- s3 hdl , lipoproteínas de alta densidad\n 
- s4 tch, colesterol total/HDL\n 
- s5 ltg, posiblemente logaritmo del nivel de triglicéridos séricos\n 
- s6 glu, azúcar en la sangre level

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [10]:
# Your code here:
import numpy as np
from sklearn.linear_model import LinearRegression

In [13]:
diabetesDataset.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

In [14]:
X = diabetesDataset.data
Y = diabetesDataset.target

Initialize the model in the variable `diabetes_model`

In [15]:
# Your code here:

diabetes_model = LinearRegression().fit(X, Y)

In the cell below, fit the model and print the intercept and coefficients of the model.

In [16]:
# Your code here:

print(f"intercept: {diabetes_model.intercept_}")
print(f"coefficients: {diabetes_model.coef_}")

intercept: 152.1334841628965
coefficients: [ -10.01219782 -239.81908937  519.83978679  324.39042769 -792.18416163
  476.74583782  101.04457032  177.06417623  751.27932109   67.62538639]

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [18]:
# Your code here:

import statsmodels.api as sm

X_2 = sm.add_constant(X) # We must add the intercept using the add_constant function
Y_2 = Y

model = sm.OLS(Y_2, X_2).fit()
#predictions = model.predict(X) 

print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.518
Model:                            OLS   Adj. R-squared:                  0.507
Method:                 Least Squares   F-statistic:                     46.27
Date:                Thu, 16 Feb 2023   Prob (F-statistic):           3.83e-62
Time:                        13:36:05   Log-Likelihood:                -2386.0
No. Observations:                 442   AIC:                             4794.
Df Residuals:                     431   BIC:                             4839.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        152.1335      2.576     59.061      0.000     147.071     157.196
x1           -10.0122     59.749     -0.168      0.867    -127.448     107.424
x2          -239.8191     61.222     -3.917      0.000    -360.151    -119.488
x3           519.8398     66.534      7.813      0.000     389.069     650.610
x4           324.3904     65.422      4.958      0.000     195.805     452.976
x5          -792.1842    416.684     -1.901      0.058   -1611.169      26.801
x6           476.7458    339.035      1.406      0.160    -189.621    1143.113
x7           101.0446    212.533      0.475      0.635    -316.685     518.774
x8           177.0642    161.476      1.097      0.273    -140.313     494.442
x9           751.2793    171.902      4.370      0.000     413.409    1089.150
x10           67.6254     65.984      1.025      0.306     -62.065     197.316
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         227.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [75]:
# Your code here:

auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [76]:
# Your code here:
auto.head(5)

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [77]:
# Your code here:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horse_power   392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

What is the newest model year and the oldest model year?

In [78]:
# Your code here:
print('el modelo mas nuevo es:',auto.model_year.max(), 'el modelo mas antiguo es:',auto.model_year.min())

el modelo mas nuevo es: 82 el modelo mas antiguo es: 70

Check the dataset for missing values and remove all rows containing at least one missing value.

In [79]:
# Your code here:
auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [80]:
auto[auto.horse_power.isnull()]

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
32,25.0,4,98.0,NaN,2046,19.0,71,"\t""ford pinto"""
126,21.0,6,200.0,NaN,2875,17.0,74,"\t""ford maverick"""
330,40.9,4,85.0,NaN,1835,17.3,80,"\t""renault lecar deluxe"""
336,23.6,4,140.0,NaN,2905,14.3,80,"\t""ford mustang cobra"""
354,34.5,4,100.0,NaN,2320,15.8,81,"\t""renault 18i"""
374,23.0,4,151.0,NaN,3035,20.5,82,"\t""amc concord dl"""

In [81]:
auto[auto.horse_power.isnull()].index

Int64Index([32, 126, 330, 336, 354, 374], dtype='int64')

In [82]:
lista_null = list(auto[auto.horse_power.isnull()].index)

In [83]:
auto.shape

(398, 8)

In [84]:
auto.dropna(inplace=True)

In [85]:
auto.shape

(392, 8)

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [86]:
# Your code here:
auto.cylinders.value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [87]:
# Import the necessary function

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [88]:
auto.columns

Index(['mpg', 'cylinders', 'displacement', 'horse_power', 'weight',
       'acceleration', 'model_year', 'car_name'],
      dtype='object')

In [89]:
# Your code here:

X = auto.drop(columns = ['car_name', 'mpg'])
y = auto.mpg

In [90]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 32, train_size = .8)

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [91]:
# Your code here:
modelo_auto = LinearRegression()
modelo_auto

#regresion_auto = LinearRegression().fit(X_train, y_train)

LinearRegression()

Next, fit the model in the cell below.

In [92]:
# Your code here:
modelo_auto.fit(X_train, y_train)

LinearRegression()

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [93]:
# Import the necessary function:
from sklearn import metrics
import numpy as np

In [94]:
y_train_array = np.asarray(y_train)
y_train_array

array([36.4, 21. , 34.4, 18. , 36. , 15. , 15. , 23. , 28. , 32.4, 32.3,
       30. , 20. , 31.9, 27. , 26. , 15. , 31. , 29.5, 16. , 34.5, 34.1,
       34. , 29. , 25. , 31.5, 16. , 20.2, 15. , 22. , 28. , 11. , 41.5,
       12. , 29. , 27.2, 24. , 19.1, 37.3, 39.4, 26. , 17.5, 28. , 33. ,
        9. , 27. , 18.2, 32.2, 20.5, 16. , 22.5, 18.5, 27. , 23. , 13. ,
       36. , 32. , 18. , 26.8, 35. , 21. , 27.2, 14. , 17. , 16. , 26.6,
       29. , 14.5, 19. , 18. , 36.1, 17.7, 27. , 32.7, 25. , 24. , 36. ,
       14. , 43.1, 36. , 16.5, 19.8, 37. , 16.2, 23. , 19. , 20. , 21. ,
       30.7, 10. , 14. , 18. , 26.5, 23.9, 21.6, 22. , 29. , 33.5, 26. ,
       13. , 23.5, 13. , 13. , 14. , 19.4, 34.3, 16. , 33. , 16. , 18. ,
       25. , 19. , 17.5, 17. , 15. , 13. , 25.4, 27. , 15. , 16.5, 24. ,
       30. , 29.8, 23. , 27.9, 38. , 28.1, 25. , 26.4, 35.7, 23.2, 24. ,
       36. , 38. , 19.9, 25. , 24. , 15. , 21. , 11. , 19. , 26. , 24.3,
       21. , 43.4, 14. , 25.1, 20.5, 27. , 36. , 13. , 10. , 19.2, 13. ,
       23.8, 18. , 26. , 16. , 20. , 14. , 13. , 39. , 28. , 13. , 34.7,
       17.6, 26. , 18. , 32.9, 20.3, 19. , 13. , 29. , 24. , 20.5, 18.6,
       21.5, 18.5, 29.9, 18. , 32.4, 19. , 40.8, 25. , 13. , 31. , 24.5,
       18. , 33. , 32.8, 23. , 32. , 36.1, 31. , 13. , 16.9, 15. , 34.1,
       25.5, 18.1, 26. , 12. , 31.3, 46.6, 19.4, 35. , 20. , 18. , 24. ,
       20.8, 23. , 32. , 14. , 16. , 15. , 13. , 27. , 28. , 23. , 28. ,
       22. , 17. , 44.3, 37. , 14. , 24.5, 44. , 16. , 20. , 18. , 19. ,
       38. , 19. , 27.5, 17.5, 15.5, 18. , 23.7, 14. , 26.6, 22. , 24. ,
       32. , 32.1, 26. , 15. , 33.5, 20.6, 16. , 30. , 22. , 31. , 18. ,
       20.2, 13. , 19.2, 15.5, 12. , 30.5, 12. , 18. , 25. , 28. , 34.2,
       15. , 29. , 30. , 13. , 14. , 15.5, 33.5, 13. , 19. , 27. , 33.7,
       18. , 32. , 14. , 22. , 13. , 15.5, 31. , 14. , 15. , 14. , 30.9,
       21. , 23. , 20.2, 17.5, 37. , 23. , 14. , 28. , 13. , 22.3, 19. ,
       17. , 26. , 29. , 17. , 15. , 25.5, 18.1, 12. , 15. , 20.2, 15. ,
       25. , 37.2, 32. , 13. , 30. ])

In [95]:
X_train_array = np.asarray(X_train)
X_train_array

array([[5.000e+00, 1.210e+02, 6.700e+01, 2.950e+03, 1.990e+01, 8.000e+01],
       [4.000e+00, 1.400e+02, 7.200e+01, 2.401e+03, 1.950e+01, 7.300e+01],
       [4.000e+00, 9.800e+01, 6.500e+01, 2.045e+03, 1.620e+01, 8.100e+01],
       ...,
       [4.000e+00, 1.350e+02, 8.400e+01, 2.295e+03, 1.160e+01, 8.200e+01],
       [8.000e+00, 4.000e+02, 1.750e+02, 5.140e+03, 1.200e+01, 7.100e+01],
       [4.000e+00, 1.110e+02, 8.000e+01, 2.155e+03, 1.480e+01, 7.700e+01]])

In [96]:
y_pred = modelo_auto.predict(X_train_array)

C:\Users\sistemas\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [97]:
metrics.r2_score(y_train, y_pred)

0.8144563480315076

In [98]:
X_train

     cylinders  displacement  horse_power  weight  acceleration  model_year
327          5         121.0         67.0    2950          19.9          80
109          4         140.0         72.0    2401          19.5          73
351          4          98.0         65.0    2045          16.2          81
174          6         171.0         97.0    2984          14.5          75
381          4         107.0         75.0    2205          14.5          82
..         ...           ...          ...     ...           ...         ...
386          6         181.0        110.0    2945          16.4          82
312          4          86.0         65.0    2019          16.4          80
395          4         135.0         84.0    2295          11.6          82
44           8         400.0        175.0    5140          12.0          71
217          4         111.0         80.0    2155          14.8          77

[313 rows x 6 columns]

In [99]:
# Your code here:
y_pred = modelo_auto.predict(X_train)

In [100]:
metrics.r2_score(y_train, y_pred)

0.8144563480315076

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [101]:
# Your code here:

y_test_pred = modelo_auto.predict(X_test)

In [102]:
metrics.r2_score(y_test, y_test_pred)

0.7731135934845736

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [103]:
# Your code here:

X_train09, X_test09, y_train09, y_test09 = train_test_split(X, y, random_state = 32, train_size = .9)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [104]:
# Your code here:

#modelo_auto = LinearRegression()
#modelo_auto.fit(X_train, y_train)


auto_model09 = LinearRegression().fit(X_train09 , y_train09)

Compute the predicted values and r squared score for our new model and new sample data.

In [105]:
# Your code here:
y_train_pred_09 = modelo_auto.predict(X_train09)
metrics.r2_score(y_train09, y_train_pred_09)

0.809590803165285

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [106]:
# Your code here:
y_test_pred_09 = modelo_auto.predict(X_test09)
metrics.r2_score(y_test09, y_test_pred_09)

0.7842056585925405

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [107]:
from sklearn.datasets import make_friedman1
from sklearn.feature_selection import RFE
from sklearn.svm import SVR

In [108]:
auto = pd.read_csv('../auto-mpg.csv')
auto.dropna(inplace=True)

In [109]:
X = auto.drop(columns = ['car_name', 'mpg'])
y = auto.mpg

estimator = SVR(kernel="linear")

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [110]:
# Your code here:
selector = RFE(estimator, n_features_to_select=3, step=1)

Fit the model and print the ranking

In [111]:
# Your code here:
selector = selector.fit(X, y)

In [112]:
selector.support_

array([ True, False, False, False,  True,  True])

In [113]:
selector.ranking_

array([1, 3, 2, 4, 1, 1])

In [114]:
X.columns

Index(['cylinders', 'displacement', 'horse_power', 'weight', 'acceleration',
       'model_year'],
      dtype='object')

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [57]:
# Your code here:
auto = pd.read_csv('../auto-mpg.csv')
auto.dropna(inplace=True)

In [58]:
X_2 = X.drop(columns = ['displacement', 'horse_power', 'weight'])

estimator = SVR(kernel="linear")

In [59]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [60]:
X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = train_test_split(X_2, y, random_state = 32, train_size = .8)

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [61]:
# Your code here: 

auto_model_2 = LinearRegression().fit(X_train_reduced , y_train_reduced)

In [62]:
y_train_pred_reduced = auto_model_2.predict(X_train_reduced)
metrics.r2_score(y_train_reduced, y_train_pred_reduced)

0.7240789305083211

In [63]:
X_test_reduced.shape

(79, 3)

In [64]:
X_train_reduced.shape

(313, 3)

In [65]:
y_test_pred_reduced = auto_model_2.predict(X_test_reduced)
metrics.r2_score(y_test_reduced, y_test_pred_reduced)

0.6658142250450625

In [66]:
X_3 = X.drop(columns = [ 'weight'])

In [67]:
X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = train_test_split(X_3, y, random_state = 32, train_size = .8)

In [68]:
auto_model_2 = LinearRegression().fit(X_train_reduced , y_train_reduced)

In [69]:
y_train_pred_reduced = auto_model_2.predict(X_train_reduced)
metrics.r2_score(y_train_reduced, y_train_pred_reduced)

0.769296459685573

In [70]:
y_test_pred_reduced = auto_model_2.predict(X_test_reduced)
metrics.r2_score(y_test_reduced, y_test_pred_reduced)

0.69442977798933

In [71]:
X = auto.drop(columns = ['car_name', 'mpg'])
y = auto.mpg

estimator = SVR(kernel="linear")

In [72]:
selector = RFE(estimator, n_features_to_select=3, step=1)

In [73]:
selector = selector.fit(X, y)

In [74]:
selector.ranking_

array([1, 3, 2, 4, 1, 1])